header {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
  flex-wrap: wrap;
  background: $tertiary;

  .headerImgContainer {
    width: 45%;

    img { //can be in baseStyles instead. but I've had to be more specific before too.
      max-width: 100%;
      vertical-align: middle;
    }
  }

  .headerContent {
    width: 55%;

    .contentContainer {
      width: 65%;
      margin: 0 auto;
    }
  }
}


