// ALERT
// in Sass it's important to nest in media queries the same way as you did in the desktop styling
// you can see the nesting by inspecting the element and looking at the styling boxes that show where the styling is coming from

//these are major breakpoints for the majority of resizing
@media (max-width: 1000px) {
  header {
    flex-direction:column;
    .headerImgContainer {
      width: 100%;
      img {
        max-height: 450px;
        width: 100%;
        object-fit: cover;
        vertical-align: bottom;
      }
    }
    .headerContent {
      padding: 40px 0;
      width: 100%;
      .contentContainer {
        width: 50%;
      }
    }
  }

  .categoryGallery {
    .items {
      padding: 25px;
    }
  }

  .galleryItems {
    justify-content: center;
    .item {
      width: calc(25% - 20px);
      margin: 10px;
    }
  }

  // Contact Page - 1000
  .mapFormContainer {
    .map{
      width: 45%;
    }
  }
  .contactForm{
    width: calc(55% - 50px);
    margin-left: 50px;
  }

  // Footer - 1000
  footer {
    .footerFlexContainer {
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;
      .logo {
        margin: 0 0 30px 0;
      }
    }
    .newsletter {
      width: 50%;
      margin: 0 0 60px 0;
    }
    .footerNav {
      width: 80%;
      nav { //here's an example of the nesting-the-same mentioned at the top. Why include the nav level if nothing is applied there? Because the nesting needs to be the same
        ul {
          width: auto;
        }
      }
    }
  }
}


@media (max-width: 800px) {
  h4 {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }

  header {
    flex-direction:column;
    .headerImgContainer {
      width: 100%;
      img {
        max-height: 350px;
        width: 100%;
      }
    }
    .headerContent {
      padding: 40px 0;
      width: 100%;
    }
  }

  .product {
    .productImgContainer {
      width: 50%;
    }
  }
      

  .categoryGallery {
    justify-content: space-evenly;
    .items {
      padding: 15px;
      margin: 20px 10px;
    }
  }

  .galleryItems {
    .item {
      width: calc(33.33% - 20px);
    }
  }
  // Contact Page - 800
  .mapFormContainer{
    flex-direction: column;
    align-items: center;
    .map{
      margin-bottom: 50px;
      width: 85%;
    }
  }
  .contactForm{
    width: 85%;
    margin-left: 0;
  }
  // Footer - 800
  footer {
    .newsletter{
      width: 70%;
    }
  } 
}

@media (max-width: 500px) {
  h3 {
    font-size: 2.2rem;
  }

  button {
    padding: 10px 20px;
  }

  .announcements {
    display: none;
  } 

  .navBar {
    .wrapper {
      flex-direction: column;
      align-items: center;
    }
    input[type=checkbox] {
      align-self: flex-start;
    }
    label {
      align-self: flex-start;
    }
    .logo {
      margin: 10px 0 20px 0;
    }
  }

  .slideOutNav{
    width: 100%;
    .mainMenu {
      a {
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }

  .titleBar {
    button {
      align-self: center;
    }
  }


  .product {
    .productImgContainer {
      width: 100%;
    }
  }

  .categoryGallery {
    .items {
      width: 100%;
      padding: 30px;
      margin: 40px 0 0 0;
    }
  }

  .galleryItems {
    .item {
      width: 100%;
    }
  }

  // Contact Page - 500
  .mapFormContainer {
    .map {
      width: 100%;
    }
  }
  
  // Footer - 500
  footer {
    .footerFlexContainer {
      margin-bottom: 60px; 
    }
    .footerNav {
      nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
        ul {
          margin-bottom: 24px;
          width: 100%;
        }
      }
    } 
    .social {
      flex-direction: column;
      align-items: center;
    }
    .socialIcons {
      margin-bottom: 30px;
    }
  }
}
//minor breakpoints are for a couple fixes at a different pixel point